<div class="a">
<section class="jumbotron text-center">
  <h1>Update <%= @user.name %>'s Profile</h1>
</section>



<ul style="list-style-type:none;">
<%= form_for @user do |f| %>
  <li>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </li>



  <li>
    <%= f.label :img_url %>
    <%= f.text_field :img_url %>
  </li>

  <%= f.submit "Update", {class: "btn btn-outline-secondary"}%>
<% end %>
</ul>
</div>
