<div class="a">
  <section class="jumbotron text-center">
    <h1>Sign Up/Register</h1>
  </section>


<% if @user.errors.any? %>

    <h2><%= pluralize(@user.errors.count, "error") %> prohibited your account from being created!</h2>

    <ol>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ol>
<% end %>

<%= form_for @user do |f| %>
  <ul style="list-style-type:none;">
    <li>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>
    <li>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </li>
    <li>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </li>
    <li>
      <%= f.label :img_url %>
      <%= f.text_field :img_url %>
    </li>
  </ul>
  <%= f.submit class: "btn btn-outline-primary" %>
<% end %>


</div>
