<link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="album.css" rel="stylesheet">

<!DOCTYPE html>
<html>
  <head>
    <title>User Page</title>
  </head>

  <body>
    <br>

    <h1 class="prof-margin"><%= @user.name %>'s Profile</h1>
    <img src="<%= @user.img_url %>" alt="Avatar" class="avatar">
    <br>
    <br>
    <div class="prof-margin">

      <ul style="list-style-type:none;">
        <li>
          <b>Email: </b><%= @user.email %>
        </li>
      </ul>
      <p><a class="btn btn-outline-secondary" href=/users/<%= @user.id %>/edit role="button">Edit <%= @user.name %> &raquo;</a>
        <a class="btn btn-outline-secondary" href=/users/<%= @user.id %> role="button">Delete <%= @user.name %> &raquo;</a>
      </p>
      <br>
  </div>


    <h3 class="prof-margin">My List</h3>

    <main role="main">
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <% @user.venues.each do |venue| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" src="<%= venue.img_url %>" </img><rect src="<%= venue.img_url %>"width="100%" height="100%" fill="#55595c"/>
              <div class="card-body">
                <p class="card-text"><%= venue.name %>
                </p>
                <%= link_to "View Details", venue, {class:"btn btn-sm btn-outline-secondary"} %>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>

        </div>
      </div>
    </div>
    </main>

<h3 class="prof-margin">Booked</h3>
<main role="main">
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @user.bookings.each do |booking| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" src="<%= booking.venue.img_url %>" </img><rect src="<%= booking.venue.img_url %>"width="100%" height="100%" fill="#55595c"/>
          <div class="card-body">
            <p class="card-text">
            <a style="list-style-type:none;">
                <li style="list-style-type:none;"><b><%= booking.venue.name %></b></li>
                <li>Hours: <%= booking.duration %></li>
                <li>Price: <%= booking.total_price %></li>
              </a>
            </p>
            <%= link_to "View Venue Details", booking.venue, {class:"btn btn-sm btn-outline-secondary"} %>

            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>
</main>

<h3 class="prof-margin">Liked</h3>
<main role="main">
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @user.favorites.each do |favorite| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" src="<%= favorite.venue.img_url %>" </img><rect src="<%= favorite.venue.img_url %>"width="100%" height="100%" fill="#55595c"/>
          <div class="card-body">
            <p class="card-text"><%= favorite.venue.name %></p>
            <%= link_to "View Details", favorite.venue, {class:"btn btn-sm btn-outline-secondary"} %>
            <%= link_to "Delete", favorite_path(favorite), {class: "btn btn-outline-warning", method: :delete} %>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <%# <%= link_to "View", venue, {class:"btn btn-sm btn-outline-secondary"} %>
                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
              </div>
              <!-- <small class="text-muted">9 mins</small> -->
            </div>
          </div>
        </div>
      </div>
      <% end %>

    </div>
  </div>

</div>
</main>

<div class="a">

  <a class="center" href="#">Back to top</a>
</div>


    <%= yield %>
  </body>
</html>
