
<!DOCTYPE html>
<html>
  <head>
    <title>User Page</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style media="screen">

    </style>



  </head>

  <body>

    <h1><%= @user.name %> Profile</h1>


    <img src="<%= @user.img_url %>" alt="Avatar" class="avatar">


    <ul>
      <li>
      <b>Email: </b><%= @user.email %>
      </li>

      <br>

      <li><b>User favorties: </b><%= @user.favorites.count %></li>
      <li><b>User bookings: </b><%= @user.bookings.count %></li>

      <br>

      <% @user.venue_bookings.each do |venue| %>
        <li><b>Venue <%# IDEA:  %>: </b><%= venue.id %></li>
        <li><b>Venue name: </b><%= venue.name %></li>
        <li><b>Venue location: </b><%= venue.location %></li>
        <li><b>Venue price: </b><%= venue.price %></li>
        <li><b>Venue activity: </b><%= venue.activity %></li>
        <li><b>Venue amenities: </b><%= venue.amenities %></li>
        <li><b>Venue image: </b><img src=<%= venue.img_url %> alt="Venue img" class="vimage"></li>
      <% end %>

    </ul>


    <%= button_to 'Edit User', edit_user_path, method: :get %>
    <%= button_to "Delete User", user_path(@user), method: :delete %>
    <%= yield %>
  </body>
</html>




###########
