<h1>Home Page</h1>

<p><%= link_to 'Browse Venues'%></p>

<% if @current_user %>
  Logged in as <%= @current_user.email %>.
  <%= link_to 'Log Out', logout_path %>
<% else %>
  <%= link_to 'Sign Up', signup_path %> or
  <%= link_to 'Log In', login_path %>
<% end %>
<p id="notice"><%= notice %></p>

<hr>
<% if logged_in? %>
  <%= button_to('Logout', logout_path, {method: :delete}) %>
<% else %>
  <%= button_to('Login', login_path, {method: :get}) %>
<% end %>
<hr>

<br>

<h2>Welcome to our website!</h2>

<br>

<h3>Example</h3>

<br>

<p>Lorem ipsum …</p>
