
<!DOCTYPE html>
<html>
  <head>
    <title>PartySpace</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <link href="cover.css" rel="stylesheet">

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style media="screen">

    </style>
  </head>

  <body class="text-center">
    <div class="bg">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <!-- <header class="masthead mb-auto">
         <div class="inner">
           <h3 class="masthead-brand">Cover</h3>
           <nav class="nav nav-masthead justify-content-center">
             <a class="nav-link active" href="#">Home</a>
             <a class="nav-link" href="#">Features</a>
             <a class="nav-link" href="#">Contact</a>
           </nav>
         </div>
        </header> -->
      <div class="boxed">
        <main role="main" class="inner cover">
          <strong><h1 class="cover-heading"><b>Welcome to PartyOn!</b></h1></strong>

              <p class="tagline">Have a party comin' up? Browse our venues for your next birthday party, baby shower, or corporate dinner.</p>
          <br>
          <p style="position: center;" class="lead"><a href="/venues" class="btn btn-lg btn-secondary">View Venues</a></p>
        </main>
      </div>

        <footer class="mastfoot mt-auto">
        </footer>
        <%= audio_tag "partytime.mp3", id: "sound", class: "audio-to-play", autoplay: true %>

<!--
        <audio src="app/assets/audio/partytime.mp3" autoplay controls loop>
          <p>Your browser does not support HTML5 audio playback</p>
        </audio> -->
        <!-- <embed src="app/assets/audio/partytime.mp3" autostart="true" loop="true" hidden="true"><embed> -->
      </div>
    </div>
  </body>
</html>
