<!DOCTYPE html>
<html>
  <head>
    <title>PartySpace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/cover/cover.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="/partyspace">PartySpace</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/users">Users<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/venues">Venues</a>
          </li>
          <li class="nav-item">
            <% if @current_user %>
              <a class="nav-link" href="/users/<%= @current_user.id %>">Hi, <%= @current_user.name %></a>
            <% else %>
            <a class="nav-link" href="/signup">Signup</a>
          </li>
          <% end %>

          <% if logged_in? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= @current_user.bookings %>">Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/venues/new">List your place</a>
          </li>
          <% end %>

          <li class="nav-item">
            <% if logged_in? %>
                <%= link_to 'Logout', logout_path, {method: :delete, class:'nav-link' } %>
              <% else %>
              <a class="nav-link" href="/login">Login</a>
            <% end %>
          </li>

        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Try me!">
        </form>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
