<!DOCTYPE html>
<html>
  <head>
    <title>PartySpace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/cover/cover.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>





  </head>

  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="/partyspace">PartyOn</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/users">Users<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/venues">Venues</a>
          </li>

          <% if logged_in? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= @current_user.bookings %>">Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/venues/new">List your place</a>
          </li>
          <% end %>

          

        </ul>
        <a class="form-inline my-2 my-md-0">
          <a class="nav-item">
            <% if @current_user %>
              <a class="nav-link" href="/users/<%= @current_user.id %>">Hi, <%= @current_user.name %></a>
            <% else %>
            <a class="nav-link" href="/signup">Signup</a>
          <% end %>
        <a/>
        <a class="nav-item">
          <% if logged_in? %>
              <%= link_to 'Logout', logout_path, {method: :delete, class:'nav-link' } %>
            <% else %>
            <a class="nav-link" href="/login">Login</a>
          <% end %>
        </a>
      </div>
    </nav>


    <%= yield %>
    <footer class="container text-center">
  <p>&copy; Company 2017-2019</p>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

      <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script></body>
</html>

  </body>
</html>
